@*@{
    ViewBag.Title = "Edit Variety";
}*@
@model VarietyEditViewModel
<div class="inner-view__container">
    <form method="post" class="inner-view__commands">
        <table class="edit-form">
            <tr>
                <td class="table-form__body">
                    <div class="listing__container">
                        <div class="listing__row">
                            <div class="listing__header">Name</div>
                            <div class="listing__header">Family</div>
                            <div class="listing__header">Friends</div>
                            <div class="listing__header">Enemies</div>
                        </div>
                        <div class="listing__row">
                            <div class="listing__cell">
                                <input name="name" value="@Model.Variety.Name" />
                            </div>
                            <div class="listing__cell">
                                <select name="koFamily" data-bind="options: availableFamilies, optionsText: 'name', value: family, optionsCaption: ''"></select>
                                <input type="hidden" name="familyId" data-bind="value: familyId"/>
                            </div>
                            <div class="listing__cell">
                                <div data-bind="with: family">
                                    <ul data-bind="foreach: companions">
                                        <li data-bind="text:name"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="listing__cell">
                                <div data-bind="with: family">
                                    <ul data-bind="foreach: enemies">
                                        <li data-bind="text:name"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-form__footer">
                    <div class="table-form__commands">
                        <div class="table-form__commands--left">
                            <a href="/Varieties">Back to listing</a>
                        </div>
                        <div class="table-form__commands--right">
                            <button type="submit"><span class="icon-floppy"></span> Update</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    @section Scripts{
        <script src="~/app/VarietyViewModel.js"></script>
        <script type="text/javascript">
            variety = function () {
                return @Html.Raw(Gp.Data.Json.JsonHelper.SerializeCamel(Model.Variety)); }();

            var allFamilies = function () {
                return @Html.Raw(Gp.Data.Json.JsonHelper.SerializeCamel(Model.AvailableFamilies)); }();

            var vm = new gp.VarietyViewModel(variety, allFamilies);
            ko.applyBindings(vm);
        </script>
    }


</div>
