@import "_variables";
.family-list{
    list-style: none;
    padding: 0;
    max-height: 300px;
    overflow: auto;
}
.family-list__item-name {
    margin: 0;
}

.family-edit__edit-pane {
    vertical-align: top;
}
