
@{
    ViewBag.Title = "Yay!";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        turkey lurkey folks
    </div>
</body>
</html>
