@{ 
    ViewBag.Title = "Plant Families";
}
<h2>
    The family edit page
</h2>
<div class="families__content">
    <ul class="families__list">
        <li class="families__item">
            <h3></h3>
        </li>
    </ul>
</div>
@section Scripts{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/zepto.js"></script>
}
