@{
    ViewBag.Title = "Plant Families";
    ViewBag.PageCss = "layout--fixed";
}
<div class="family-edit__container">
    <div class="family-edit__top-bar">
        <div class="family-edit__status-message">
            <span data-bind="visible: isDirty">
                There are unsaved changes
            </span>
        </div>
        <div class="family-edit__commands">
            <button class="command__save" data-bind="click: saveChanges">
                <span class="icon-floppy"></span>
            </button>
            <button class="command__cancel">
                <span class="icon-block"></span>
            </button>
        </div>
    </div>
    <div class="family-edit__main-content">
        <div class="family-edit__list-pane">
            <ul class="family-list" data-bind="foreach: families">
                <li class="family-list__item" data-bind="click: $root.selectFamily, css: { 'item--selected' : selected }">
                    <div class="family-list__item-name" data-bind="text: name"></div>
                </li>
            </ul>
        </div>
        <div class="family-edit__edit-pane">
            <div data-bind="with: currentFamily">
                <div>
                    <h3>Family Name</h3>
                    <div>
                        <input data-bind="value: name" />
                    </div>
                </div>
                <div class="family-edit__relations-container">
                    <div class="family-edit__relation-section">
                        <h3>Available Relations</h3>
                        <ul class="family-list" data-bind="foreach: $root.availableRelations">
                            <li class="family-list__item">
                                <div class="family-relation__name" data-bind="text: name"></div>
                                <div class="family-relation__command">
                                    <span class="icon-thumbs-up" data-bind="click: $root.addCompanion"></span>
                                </div>
                                <div class="family-relation__command">
                                    <span class="icon-thumbs-down" data-bind="click: $root.addEnemy"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="family-edit__relation-section">
                        <h3>Companions</h3>
                        <ul class="family-list" data-bind="foreach: companions">
                            <li class="family-list__item">
                                <div class="family-relation__name" data-bind="text: name"></div>
                                <div class="family-relation__command">
                                    <span class="icon-trash" data-bind="click: $root.removeCompanion"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="family-edit__relation-section">
                        <h3>Enemies</h3>
                        <ul class="family-list" data-bind="foreach: enemies">
                            <li class="family-list__item">
                                <div class="family-relation__name" data-bind="text: name"></div>
                                <div class="family-relation__command">
                                    <span class="icon-trash" data-bind="click: $root.removeEnemy"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/app/ServerRequest.js"></script>
    <script src="~/app/Family.js"></script>
    <script src="~/app/FamilyRepository.js"></script>
    <script src="~/app/FamilyViewModel.js"></script>
    <script>
        var request = new gp.ServerRequest();

        var vm = new gp.FamilyViewModel(new gp.FamilyRepository(request));
        ko.applyBindings(vm);
    </script>
}
