@{ 
    ViewBag.Title = "Plant Families";
}
<div>
    the family edit page
</div>
@section Scripts{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/zepto.js"></script>
}
