@{ 
    ViewBag.Title = "Plant Families";
}
<h2>
    The family edit page
</h2>
<div class="family-edit__container">
    <table>
        <tr>
            <td class="family-edit__list-pane">
                <ul class="family-list" data-bind="foreach: families">
                    <li class="family-list__item">
                        <h3 class="family-list__item-name" data-bind="text: name, click: $parent.selectFamily"></h3>
                    </li>
                </ul>
            </td>
            <td class="family-edit__edit-pane">
                <table data-bind="with: currentFamily">
                    <tr>
                        <td>
                            <div>Family Name</div>
                            <div>
                                <input data-bind="value: name" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>Companions</div>
                            
                        </td>
                        <td>
                            <div>Enemies</div>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</div>
@section Scripts{
    <script src="~/app/ServerRequest.js"></script>
    <script src="~/app/FamilyRepository.js"></script>
    <script src="~/app/FamilyViewModel.js"></script>
    <script>
        var request = new gp.ServerRequest();

        var vm = new gp.FamilyViewModel(new gp.FamilyRepository(request));
        ko.applyBindings(vm);
    </script>
}
